# Database Configuration
DB_TYPE=mariadb
DB_HOST=167.172.39.172
DB_USER=root
DB_PASSWORD=
DB_NAME=resifaso_db
DB_SQLITE_PATH=./database.sqlite

# API Configuration
VITE_API_URL=https://resifaso.net

# Auth Configuration
JWT_SECRET=super-secret-key-change-this-in-prod
GOOGLE_CLIENT_ID=
GEMINI_API_KEY=

# Firebase Push Notifications (Optional: Base64 or plain JSON of service account)
FIREBASE_SERVICE_ACCOUNT=
