node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Credentials & Service accounts
resifaso-firebase-adminsdk-*.json
google-services.json
GoogleService-Info.plist
*.plist
*.sqlite*
